@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    hanging-punctuation: first force-end last;
  }
}

@layer components {
  .tufte-container {
    @apply px-2 sm:px-6 md:ps-[12%] md:pe-8 lg:pe-12 xl:pe-16
    max-w-7xl mx-auto;
  }
  .tufte-article {
    font-kerning: normal;
    @apply max-w-2xl
    prose prose-palette5 dark:prose-invert
    prose-base md:prose-lg xl:prose-xl 2xl:prose-2xl
    text-palette5-blue-900 dark:text-primaryTextDark;

    /**
    * Tufte Width
    */
    & > * {
      @apply w-full md:w-8/12
      max-w-lg;
    }

    & > aside,
    & > figcaption {
      @apply w-full md:w-4/12 
      md:float-right md:clear-right
      md:ml-8 md:mb-4
      prose-sm
      align-baseline;
    }
    /**
    * Link
    */
    & a {
      @apply inline-block
      underline
      decoration-4 underline-offset-8
      decoration-palette5-blue-300
      hover:decoration-palette5-red-300
      focus:decoration-palette5-red-700
  
      focus:outline-none focus:no-underline
      focus:ring-4 focus:ring-palette5-red-700 focus:ring-opacity-50;
    }

    /**
    * Quote
    */
    & blockquote {
      @apply border-none relative text-end;

      & footer {
        @apply not-italic prose-sm;

        & cite {
          @apply italic;
        }
      }
    }
    & blockquote::before {
      @apply content-[open-quote]
      md:-top-8 md:-left-6;
    }
    & blockquote::after {
      @apply content-[close-quote]
      md:-bottom-14 md:-right-11;
    }
    & blockquote::before,
    & blockquote::after {
      @apply hidden md:block absolute
      md:text-6xl text-palette5-blue-300 opacity-80;
    }

    /**
    * Code
    */
    & code,
    & pre {
      @apply select-all;
    }

    /**
    * Paragraph
    */
    & p {
      hyphenate-limit-chars: 10 4;
      text-justify: inter-character;
      @apply text-justify;

      & p,
      & + p {
        @apply indent-2 sm:indent-3 md:indent-4 lg:indent-5 xl:indent-6;
      }
    }
    & > p:first-of-type {
      @apply first-letter:text-xl sm:first-letter:text-2xl md:first-letter:text-4xl lg:first-letter:text-6xl xl:first-letter:text-9xl
      first-letter:font-bold
      first-letter:mr-0.5 sm:first-letter:mr-1.5 md:first-letter:mr-3 lg:first-letter:mr-3 xl:first-letter:mr-4
      first-letter:float-left
      
      first-line:font-black;
    }

    /**
    * Lists
    */
    & ul,
    & ol {
      @apply list-outside list-disc ps-0
      marker:text-palette5-blue-300;
    }
    & li {
      @apply ps-0;
    }

    /**
    * Miscellaneous
    */

    & abbr,
    & acronym {
      font-variant-caps: all-small-caps;
      font-variant-numeric: oldstyle-nums;
      @apply tracking-widest
      decoration-4
      decoration-palette5-blue-300;
    }
    & hr {
      @apply border-t-[thin] border-palette5-blue-300 my-4 sm:my-5 md:my-6 lg:my-7 xl:my-8;
    }
    & figure {
      @apply border-double border-8 border-palette5-blue-300;
    }
    & h1 {
      @apply w-full max-w-none;
    }
    & dd {
      @apply indent-2 sm:indent-3 md:indent-4 lg:indent-5 xl:indent-6;
    }
  }

  /**
  * Form Elements
  */
  .button {
    @apply px-4 py-2
    font-bold
    text-white
    bg-palette5-blue-600
    hover:bg-palette5-blue-800
    focus:outline-none focus:ring-2 focus:ring-palette5-blue-400
    focus:ring-offset-2 focus:ring-offset-palette5-blue-50;
  }
  .button-secondary {
    @apply px-4 py-2
    text-palette5-blue-500
    bg-palette5-blue-50
    hover:text-palette5-blue-600 hover:bg-palette5-blue-100
    focus:outline-none focus:ring-2 focus:ring-palette5-blue-400
    focus:ring-offset-2 focus:ring-offset-palette5-blue-50;
  }
  .input {
    @apply px-4 py-2
    border-2 border-palette5-blue-300
    hover:border-palette5-blue-400
    focus:outline-none focus:ring-2 focus:ring-palette5-blue-400
    focus:ring-offset-2 focus:ring-offset-palette5-blue-50;
  }

  /**
  * Miscellaneous
  */
  .hr {
    @apply border-t-2 border-palette5-blue-300;
  }
  .link {
    @apply inline-block leading-8
    underline
    decoration-4 underline-offset-8
    decoration-palette5-blue-300
    hover:decoration-palette5-red-300
    focus:decoration-palette5-red-700

    focus:outline-none focus:no-underline
    focus:ring-4 focus:ring-palette5-red-700 focus:ring-opacity-50;
  }
  .label-text-size {
    @apply text-base md:text-lg lg:text-xl;
  }
}

@layer utilities {
  .first-letter {
    @apply first-letter:text-2xl sm:first-letter:text-4xl md:first-letter:text-6xl lg:first-letter:text-7xl xl:first-letter:text-9xl
    first-letter:font-bold
    first-letter:mr-0.5 sm:first-letter:mr-1.5 md:first-letter:mr-3 lg:first-letter:mr-3 xl:first-letter:mr-4
    first-letter:float-left;
  }

  .link-secondary {
    @apply inline-block px-2 py-1
   text-secondaryText dark:text-secondaryTextDark

    underline underline-offset-4 decoration-2
    decoration-secondaryText dark:decoration-secondaryTextDark 
    hover:decoration-red-700 
    
    focus:outline-none
    focus:decoration-red-700 
    focus:ring-4 focus:ring-red-700 focus:ring-opacity-50
    focus:bg-primaryBackground focus:text-primaryText
    dark:focus:bg-primaryBackgroundDark dark:focus:text-primaryTextDark;
  }

  .prose-primary {
    @apply font-serif
    text-palette5-blue-900 dark:text-primaryTextDark
    prose prose-palette5 dark:prose-invert prose-xl lg:prose-2xl
    subpixel-antialiased
    
    
    prose-a:inline-block
    prose-a:underline
    prose-a:decoration-4
    prose-a:decoration-palette5-blue-300
    focus:prose-a:decoration-palette5-red-700

    focus:prose-a:outline-none focus:prose-a:no-underline
    focus:prose-a:ring-4 focus:prose-a:ring-palette5-red-700;
  }
  .prose-primary prose-a:hover {
    @apply prose-a:decoration-palette5-red-700;
  }

  .prose-secondary {
    @apply font-serif
    text-secondaryText dark:text-secondaryTextDark
    prose prose-neutral dark:prose-invert prose-sm sm:prose-base md:prose-lg lg:prose-xl xl:prose-2xl
    subpixel-antialiased
    
    prose-a:inline-block
    prose-a:text-secondaryText prose-a:dark:text-secondaryTextDark

    prose-a:underline prose-a:underline-offset-4
    prose-a:decoration-secondaryText dark:prose-a:decoration-secondaryTextDark prose-a:decoration-2 
    hover:prose-a:decoration-red-700

    focus:prose-a:outline-none
    focus:prose-a:decoration-red-700 
    focus:prose-a:ring-4 focus:prose-a:ring-red-700 focus:prose-a:ring-opacity-50
    focus:prose-a:bg-primaryBackground focus:prose-a:text-primaryText
    dark:focus:prose-a:bg-primaryBackgroundDark dark:focus:prose-a:text-primaryTextDark;
  }

  .min-padding-x {
    @apply px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12;
  }
  .width-80 {
    @apply mx-auto 
   sm:max-w-lg md:max-w-xl lg:max-w-2xl xl:max-w-3xl;
  }
  .width-100 {
    @apply mx-auto 
    max-w-xl sm:max-w-2xl md:max-w-3xl lg:max-w-4xl xl:max-w-5xl
    py-2 sm:py-3 md:py-4 lg:py-5 xl:py-6;
  }

  .tracking-text {
    @apply font-thin uppercase
    tracking-wide sm:tracking-wider md:tracking-widest lg:tracking-[0.2em] xl:tracking-[0.4em];
  }

  .input-field {
    @apply block
    p-0.5 sm:p-1 md:p-1.5 lg:p-2 xl:p-2.5
    border-b-2 
    border-secondaryText dark:border-secondaryTextDark hover:border-b-red-700 focus:border-b-red-700

    bg-secondaryBackground dark:bg-secondaryBackgroundDark
    text-primaryText dark:text-primaryTextDark
    placeholder:text-secondaryText dark:placeholder:text-secondaryTextDark
    
    focus:outline-none
    focus:ring-4 focus:ring-red-700 focus:ring-opacity-50;
  }
  .submit-button {
    @apply font-semibold block
    p-0.5 sm:p-1 md:p-1.5 lg:p-2 xl:p-2.5
    border-b-2 
  border-secondaryText dark:border-secondaryTextDark hover:border-b-red-700 focus:border-b-red-700

  bg-secondaryBackground dark:bg-secondaryBackgroundDark
  text-primaryText dark:text-primaryTextDark

    focus:outline-none
  focus:bg-red-700
  focus:text-primaryTextDark
    focus:ring-4 focus:ring-red-700 focus:ring-opacity-50;
  }
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/PlayfairDisplay-VariableFont_wght.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Sofia Sans Extra Condensed";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/SofiaSansExtraCondensed-VariableFont_wght.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Genos";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/Genos-VariableFont_wght.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NotoSerif-VariableFont_wdth,wght.woff2");
  font-display: swap;
}
