h1,
h2,
h3,
h4,
h5,
h6,
.font-serif {
  font-family: charter, Georgia, Cambria, 'Times New Roman', Times, serif;
  text-rendering: geometricPrecision;
  font-variant-ligatures: common-ligatures;
}

.bd-placeholder-img {
  max-width: 250px;
  height: 100%;
}

code {
  user-select: all;
}
.blog-header {
  border-bottom: thin solid #e5e5e5;
}

@media (min-width: 768px) {
  .h-md-250 {
    height: 25em;
  }
}
