:root {
  /* Font family */
  --sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  --monospace: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

  /* Width Variables */
  --max-content-width: 38em;

  /* Breakpoint variables */
  --bp-small: 24.15;
  --bp-medium: 43.75;
  --bp-large: 60.25;
  --bp-xlarge: 75;

  /* initial values ital */
  --text-wght: 350;
  --text-ital: 0;

  /* text GRAD */
  --text-GRAD: 88;

  /* Paragraph variables */
  --p-line-height-min: 1.15;
  --p-line-height-max: 1.5;
  --p-font-size-min: 1;
  --p-font-size-max: 1.25;
  --p-vf-wght: 350;
  --p-vf-wdth: 100;
  --p-vf-wght: var(--text-wght);

  /* H1 variables */
  --h1-line-height-min: 0.95;
  --h1-line-height-max: 1.05;
  --h1-font-size-min: 2;
  --h1-font-size-max: 5;
  --h1-vf-wght-multiplier-s: 2;
  --h1-vf-wght-multiplier-m: 2.25;
  --h1-vf-wght-multiplier-l: 2.5;
  --h1-vf-wdth: 100;

  /* H2 variables */
  --h2-line-height-min: 1.15;
  --h2-line-height-max: 1.25;
  --h2-font-size-min: 1.5;
  --h2-font-size-max: 3.5;
  --h2-vf-wght-multiplier-s: 1.25;
  --h2-vf-wght-multiplier-m: 1.5;
  --h2-vf-wght-multiplier-l: 1.75;
  --h2-vf-wdth: 100;

  /* Dropcap variables */
  --dc-line-height-min: 0.9;
  --dc-line-height-max: 0.95;
  --dc-font-size-min: 2.7;
  --dc-font-size-max: 5;

  /* Blockquote variables */
  --bq-line-height-min: 1.1;
  --bq-line-height-max: 0.95;
  --bq-font-size-min: 2.7;
  --bq-font-size-max: 5;
}

body,
div,
p,
th,
td,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
q,
figcaption,
cite,
i,
em,
b,
strong,
button,
p:first-line,
p:first-letter {
  font-weight: var(--text-wght);
  font-style: normal;
  font-variation-settings: 'wght' var(--text-wght), 'ital' var(--text-ital);
}

/* Generic header styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--serif);
  font-weight: normal;
  transition: all linear 0.2s;
  --text-wght: calc(var(--p-vf-wght) * var(--h1-vf-wght-multiplier-s));
  clear: both;
}

h1 {
  /* Set --text-wght value multiplier */
  --text-wght: calc(var(--p-vf-wght) * var(--h1-vf-wght-multiplier-s));
  --text-ital: 0;

  font-size: calc(var(--h1-font-size-min) * 1em);
  line-height: var(--h1-line-height-min);
  margin: 1rem auto;
  max-width: 50rem;
  @media screen and (min-width: 24.15em) {
    line-height: calc(
      (var(--h1-line-height-min) * 1em) + (var(--h1-line-height-max) - var(--h1-line-height-min)) *
        ((100vw - (var(--bp-small) * 1em)) / (var(--bp-xlarge) - var(--bp-small)))
    );
    font-size: calc(
      (var(--h1-font-size-min) * 1em) + (var(--h1-font-size-max) - var(--h1-font-size-min)) *
        ((100vw - (var(--bp-small) * 1em)) / (var(--bp-xlarge) - var(--bp-small)))
    );
  }
  @media screen and (min-width: 43.75em) {
    --text-wght: calc(var(--p-vf-wght) * var(--h1-vf-wght-multiplier-m));
    max-width: 60rem;
  }
  @media screen and (min-width: 60.25em) {
    --text-wght: calc(var(--p-vf-wght) * var(--h1-vf-wght-multiplier-l));
    line-height: var(--h1-line-height-max);
    max-width: 70rem;
  }
  @media (min-width: 75em) {
    font-size: calc(var(--h1-font-size-max) * 1em);
    line-height: var(--h1-line-height-max);
    max-width: 75rem;
  }
}

h2 {
  /* Set --text-wght value multiplier */
  --text-wght: calc(var(--p-vf-wght) * var(--h2-vf-wght-multiplier-s));
  --text-ital: 0;

  font-size: calc(var(--h2-font-size-min) * 1em);
  line-height: var(--h2-line-height-min);
  margin: 1rem auto 0.5rem auto;
  max-width: 38rem;
  @media screen and (min-width: 24.15em) {
    line-height: calc(
      (var(--h2-line-height-min) * 1em) + (var(--h2-line-height-max) - var(--h2-line-height-min)) *
        ((100vw - (var(--bp-small) * 1em)) / (var(--bp-xlarge) - var(--bp-small)))
    );
    font-size: calc(
      (var(--h2-font-size-min) * 1em) + (var(--h2-font-size-max) - var(--h2-font-size-min)) *
        ((100vw - (var(--bp-small) * 1em)) / (var(--bp-xlarge) - var(--bp-small)))
    );
  }
  @media screen and (min-width: 43.75em) {
    --text-wght: calc(var(--p-vf-wght) * var(--h2-vf-wght-multiplier-m));

    max-width: 38.5rem;
  }
  @media screen and (min-width: 60.25em) {
    max-width: 38.5rem;
  }
  @media (min-width: 75em) {
    --text-wght: calc(var(--p-vf-wght) * var(--h2-vf-wght-multiplier-l));

    font-size: calc(var(--h2-font-size-max) * 1em);
    line-height: var(--h2-line-height-max);
    max-width: 42rem;
  }
}

.bd-placeholder-img {
  max-width: 250px;
  height: 100%;
}

code {
  user-select: all;
}
.blog-header {
  border-bottom: thin solid #e5e5e5;
}

@media (min-width: 768px) {
  .h-md-250 {
    height: 25em;
  }
}
