.github {
  height: 1.75em;
  width: 1.75em;
}
.font_serif {
  font-family: 'Playfair Display', 'New York Medium', 'New York', charter,
    Georgia, Cambria, 'Times New Roman', Times, serif;
  text-rendering: geometricPrecision;
  font-variant-ligatures: common-ligatures;
}
