.meter {
  & {
    -webkit-appearance: none;
    appearance: none;
    height: 5em;
    border-radius: 2.5em;
    width: 100%;

    background: none;
    background-color: #f0f4ff;
  }

  &::-moz-meter-bar {
    background: none;
    background-color: #4e76fc;
    border-radius: 2.5em;
  }

  &::-webkit-meter-bar {
    background: none;
    background-color: #f0f4ff;
    border-radius: 2.5em;
  }

  &::-webkit-meter-optimum-value {
    background: none;
    background-color: #4e76fc;
    border-radius: 2.5em;
  }

  & > div {
    height: 5em;
    background-color: #4e76fc;
    border-radius: 2.5em;

    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}
